In [1]:
# Setting the working directory
setwd("/home/ravi/Documents/A-tracking-of-2019-nCoV/COVID-19/")

## China (except Hubei)

In [2]:
##    Loading
China.States.daily.Confirmed = read.csv("ready_to_use/COVID-19/China/China_States_daily_Confirmed.csv")
China.States.daily.Deaths = read.csv("ready_to_use/COVID-19/China/China_States_daily_Deaths.csv")
China.States.daily.Recovered = read.csv("ready_to_use/COVID-19/China/China_States_daily_Recovered.csv")
China.Aggregate.daily.Confirmed = read.csv("ready_to_use/COVID-19/China/China_Aggregate_daily_Confirmed.csv")
China.Aggregate.daily.Deaths = read.csv("ready_to_use/COVID-19/China/China_Aggregate_daily_Deaths.csv")
China.Aggregate.daily.Recovered = read.csv("ready_to_use/COVID-19/China/China_Aggregate_daily_Recovered.csv")
China.States.summary = read.csv("ready_to_use/COVID-19/China/China_States_summary.csv")
China.Aggregate.summary = read.csv("ready_to_use/COVID-19/China/China_Aggregate_summary.csv")
China.dataset.dateWise = read.csv("ready_to_use/COVID-19/China/China_dataset_dateWise_summary.csv")

In [6]:
# Viewed
head(China.States.daily.Confirmed)
head(China.States.daily.Deaths)
head(China.States.daily.Recovered)
head(China.Aggregate.daily.Confirmed)
head(China.Aggregate.daily.Deaths)
head(China.Aggregate.daily.Recovered)
head(China.States.summary)
head(China.Aggregate.summary)
head(China.dataset.dateWise)

  States    Country X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20
1 Anhui     China    0        1        9       15       39        60
2 Beijing   China   10       14       22       36       41        68
3 Chongqing China    5        6        9       27       57        75
4 Fujian    China    0        1        5       10       18        35
5 Gansu     China    0        0        2        2        4         7
6 Guangdong China   17       26       32       53       78       111
  X1.27.20 X1.28.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1  70      106      ...  990     990     990     990     990     990     990
2  80       91      ...  413     414     414     418     418     422     426
3 110      132      ...  576     576     576     576     576     576     576
4  59       80      ...  296     296     296     296     296     296     296
5  14       19      ...   91      91      91      91     102     119     120
6 151      207      ... 1349    1350    1350    1350    1351    1352    1352
  X3.8.20 X3.9.20 X3.10.20
1  990     990     990
2  428     428     429
3  576     576     576
4  296     296     296
5  124     124     125
6 1352    1352    1353

  States    Country X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20
1 Anhui     China   0        0        0        0        0        0
2 Beijing   China   0        0        0        0        0        0
3 Chongqing China   0        0        0        0        0        0
4 Fujian    China   0        0        0        0        0        0
5 Gansu     China   0        0        0        0        0        0
6 Guangdong China   0        0        0        0        0        0
  X1.27.20 X1.28.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 6       6       6       6       6       6       6
2 1        1        ... 8       8       8       8       8       8       8
3 0        0        ... 6       6       6       6       6       6       6
4 0        0        ... 1       1       1       1       1       1       1
5 0        0        ... 2       2       2       2       2       2       2
6 0        0        ... 7       7       7       7       7       7       7
  X3.8.20 X3.9.20 X3.10.20
1 6       6       6
2 8       8       8
3 6       6       6
4 1       1       1
5 2       2       2
6 7       8       8

  States    Country X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20
1 Anhui     China   0        0        0        0        0        0
2 Beijing   China   0        0        0        1        2        2
3 Chongqing China   0        0        0        0        0        0
4 Fujian    China   0        0        0        0        0        0
5 Gansu     China   0        0        0        0        0        0
6 Guangdong China   0        0        2        2        2        2
  X1.27.20 X1.28.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ...  873     917     936     956     970     979     979
2 2        4        ...  276     282     288     297     297     299     303
3 0        0        ...  450     469     490     502     512     513     526
4 0        0        ...  247     255     260     270     277     284     295
5 0        0        ...   84      85      86      87      87      87      87
6 4        4        ... 1016    1059    1101    1133    1181    1216    1237
  X3.8.20 X3.9.20 X3.10.20
1  984     984     984
2  308     315     320
3  527     542     547
4  295     295     295
5   87      88      88
6 1256    1260    1274

  Country X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 China   55       103      195      367      638      1004     1440
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 1940     2516     ... 12919   12923   12934   12939   12956   12981   12986
  X3.8.20 X3.9.20 X3.10.20
1 12992   12992   12997

  Country X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 China   0        0        1        2        2        4        6
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 6        8        ... 109     109     110     110     111     111     111
  X3.8.20 X3.9.20 X3.10.20
1 111     112     112

  Country X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 China   0        0        2        5        7        7        13
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 21       32       ... 10582   10876   11196   11398   11648   11855   11978
  X3.8.20 X3.9.20 X3.10.20
1 12085   12247   12363

  States    Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Anhui      990      6       984        0           990
2 Beijing    429      8       320      101           328
3 Chongqing  576      6       547       23           553
4 Fujian     296      1       295        0           296
5 Gansu      125      2        88       35            90
6 Guangdong 1353      8      1274       71          1282

  Country Confirmed Deaths Recovered Active.Cases Closed.Cases
1 China   12997     112    12363     522          12475

  Country Day Date       Confirmed Deaths Recovered Active.Cases Closed.Cases
1 China   1   21-01-2020   55      0      0          55           0
2 China   2   22-01-2020  103      0      0         103           0
3 China   3   23-01-2020  195      1      2         192           3
4 China   4   24-01-2020  367      2      5         360           7
5 China   5   25-01-2020  638      2      7         629           9
6 China   6   26-01-2020 1004      4      7         993          11

##    Diamond Princess (only)

In [7]:
##    Loading
Diamond.Princess.daily.Confirmed = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_daily_Confirmed.csv")
Diamond.Princess.daily.Deaths = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_daily_Deaths.csv")
Diamond.Princess.daily.Recovered = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_daily_Recovered.csv")
Diamond.Princess.summary = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_summary.csv")
Diamond.Princess.dataset.dateWise = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_dataset_dateWise_summary.csv")

In [8]:
##    Viewed
head(Diamond.Princess.daily.Confirmed)
head(Diamond.Princess.daily.Deaths)
head(Diamond.Princess.daily.Recovered)
head(Diamond.Princess.summary)
head(Diamond.Princess.dataset.dateWise)

  Loaction                     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Diamond Princess cruise ship 0        0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20
1 0        0        0        0        ... 705     705     706     706
  X3.5.20 X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 706     696     696     696     696     696

  Loaction                     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Diamond Princess cruise ship 0        0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20
1 0        0        0        0        ... 6       6       6       6
  X3.5.20 X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 6       6       6       6       6       6

  Loaction                     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Diamond Princess cruise ship 0        0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20
1 0        0        0        0        ... 10      10      10      10
  X3.5.20 X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 10      40      40      40      40      40

  Location         Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Diamond Princess 696       6      40        -40          80

  State            Day Date       Confirmed Deaths Recovered Active.Cases
1 Diamond Princess 1   21-01-2020 0         0      0         0
2 Diamond Princess 2   22-01-2020 0         0      0         0
3 Diamond Princess 3   23-01-2020 0         0      0         0
4 Diamond Princess 4   24-01-2020 0         0      0         0
5 Diamond Princess 5   25-01-2020 0         0      0         0
6 Diamond Princess 6   26-01-2020 0         0      0         0
  Closed.Cases
1 0
2 0
3 0
4 0
5 0
6 0

##    FOUR

In [9]:
## Loading
FOUR.daily.Confirmed = read.csv("ready_to_use/COVID-19/FOUR/Four_daily_Confirmed.csv")
FOUR.daily.Deaths = read.csv("ready_to_use/COVID-19/FOUR/Four_daily_Deaths.csv")
FOUR.daily.Recovered = read.csv("ready_to_use/COVID-19/FOUR/Four_daily_Recovered.csv")
FOUR.summary = read.csv("ready_to_use/COVID-19/FOUR/Four_Summary.csv")
FOUR.dataset.dateWise = read.csv("ready_to_use/COVID-19/FOUR/Four_dataset_dateWise.csv")
FOUR.dataset.locationWise = read.csv("ready_to_use/COVID-19/FOUR/Four_dataset_locationWise.csv")

In [10]:
## Viewed
head(FOUR.daily.Confirmed)
head(FOUR.daily.Deaths)
head(FOUR.daily.Recovered)
head(FOUR.summary)
head(FOUR.dataset.dateWise)
head(FOUR.dataset.locationWise)

  Location                     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Hubei                        270      444      444      549      761
2 China                         55      103      195      367      638
3 World                         60      111      209      392      673
4 Diamond Princess cruise ship   0        0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20
1 1058     1423     3554     3554     ... 66907   67103   67217   67332
2 1004     1440     1940     2516     ... 12919   12923   12934   12939
3 1060     1504     2024     2612     ... 20759   22501   24920   27085
4    0        0        0        0     ...   705     705     706     706
  X3.5.20 X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 67466   67592   67666   67707   67743   67760
2 12956   12981   12986   12992   12992   12997
3 29713   33511   37473   41411   45144   50259
4   706     696     696     696     696     696

  Location                     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Hubei                        0        17       17       24       40
2 China                        0         0        1        2        2
3 World                        0         0        0        0        0
4 Diamond Princess cruise ship 0         0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20
1 52       76       125      125      ... 2761    2803    2835    2871
2  4        6         6        8      ...  109     109     110     110
3  0        0         0        0      ...  120     167     209     267
4  0        0         0        0      ...    6       6       6       6
  X3.5.20 X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 2902    2931    2959    2986    3008    3024
2  111     111     111     111     112     112
3  329     412     482     700     870    1123
4    6       6       6       6       6       6

  Location                     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Hubei                        25       28       28       31       32
2 China                         0        0        2        5        7
3 World                         0        0        0        0        0
4 Diamond Princess cruise ship  0        0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20
1 42       45       80       88       ... 31536   33934   36208   38557
2  7       13       21       32       ... 10582   10876   11196   11398
3  3        3        6        6       ...   588     782     815    1206
4  0        0        0        0       ...    10      10      10      10
  X3.5.20 X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 40592   42033   43500   45235   46488   47743
2 11648   11855   11978   12085   12247   12363
3  1547    1938    2841    3335    3737    4326
4    10      40      40      40      40      40

  Location         Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Hubei            67760     3024   47743     16993        50767
2 China            12997      112   12363       522        12475
3 World            37262     1123    4326     31813         5449
4 Diamond Princess   696        6      40       -40           80

  Location         Day Date       Confirmed Deaths Recovered Active.Cases
1 Hubei            1   21-01-2020 270        0     25        245
2 China            1   21-01-2020  55        0      0         55
3 World            1   21-01-2020  60        0      0         60
4 Diamond Princess 1   21-01-2020   0        0      0          0
5 Hubei            2   22-01-2020 444       17     28        399
6 China            2   22-01-2020 103        0      0        103
  Closed.Cases
1 25
2  0
3  0
4  0
5 45
6  0

  Location Day Date       Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Hubei    1   21-01-2020  270       0     25        245          25
2 Hubei    2   22-01-2020  444      17     28        399          45
3 Hubei    3   23-01-2020  444      17     28        399          45
4 Hubei    4   24-01-2020  549      24     31        494          55
5 Hubei    5   25-01-2020  761      40     32        689          72
6 Hubei    6   26-01-2020 1058      52     42        964          94

##    Mixed

In [11]:
## Loading
All.Countries.daily.Confirmed = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_daily_Confirmed.csv")
All.Countries.daily.Deaths = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_daily_Deaths.csv")
All.Countries.daily.Recovered = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_daily_Recovered.csv")
All.Countries.summary = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_summary.csv")
Mixed.summary = read.csv("ready_to_use/COVID-19/Mixed/bulk_summary.csv")
Mixed.countryWise.summary = read.csv("ready_to_use/COVID-19/Mixed/countryWise_bulk_summary.csv")
Mixed.dateWise.summary = read.csv("ready_to_use/COVID-19/Mixed/dateWise_bulk_summary.csv")

In [12]:
## Viewed
head(All.Countries.daily.Confirmed)
head(All.Countries.daily.Deaths)
head(All.Countries.daily.Recovered)
head(All.Countries.summary)
head(Mixed.summary)
head(Mixed.countryWise.summary)
head(Mixed.dateWise.summary)

  Country     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan 0        0        0        0        0        0        0
2 Albania     0        0        0        0        0        0        0
3 Algeria     0        0        0        0        0        0        0
4 Andorra     0        0        0        0        0        0        0
5 Argentina   0        0        0        0        0        0        0
6 Armenia     0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 1       1       1        1       1       1       1
2 0        0        ... 0       0       0        0       0       0       0
3 0        0        ... 1       3       5       12      12      17      17
4 0        0        ... 0       1       1        1       1       1       1
5 0        0        ... 0       0       1        1       1       2       8
6 0        0        ... 1       1       1        1       1       1       1
  X3.8.20 X3.9.20 X3.10.20
1  4       4       5
2  0       2      10
3 19      20      20
4  1       1       1
5 12      12      17
6  1       1       1

  Country     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan 0        0        0        0        0        0        0
2 Albania     0        0        0        0        0        0        0
3 Algeria     0        0        0        0        0        0        0
4 Andorra     0        0        0        0        0        0        0
5 Argentina   0        0        0        0        0        0        0
6 Armenia     0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 0       0       0       0       0       0       0
2 0        0        ... 0       0       0       0       0       0       0
3 0        0        ... 0       0       0       0       0       0       0
4 0        0        ... 0       0       0       0       0       0       0
5 0        0        ... 0       0       0       0       0       0       0
6 0        0        ... 0       0       0       0       0       0       0
  X3.8.20 X3.9.20 X3.10.20
1 0       0       0
2 0       0       0
3 0       0       0
4 0       0       0
5 0       0       0
6 0       0       0

  Country     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan 0        0        0        0        0        0        0
2 Albania     0        0        0        0        0        0        0
3 Algeria     0        0        0        0        0        0        0
4 Andorra     0        0        0        0        0        0        0
5 Argentina   0        0        0        0        0        0        0
6 Armenia     0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 0       0       0       0       0       0       0
2 0        0        ... 0       0       0       0       0       0       0
3 0        0        ... 0       0       0       0       0       0       0
4 0        0        ... 0       0       0       0       0       0       0
5 0        0        ... 0       0       0       0       0       0       0
6 0        0        ... 0       0       0       0       0       0       0
  X3.8.20 X3.9.20 X3.10.20
1 0       0       0
2 0       0       0
3 0       0       0
4 0       0       0
5 1       1       1
6 0       0       0

  Country     Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Afghanistan  5        0      0          5           0
2 Albania     10        0      0         10           0
3 Algeria     20        0      0         20           0
4 Andorra      1        0      0          1           0
5 Argentina   17        1      0         16           1
6 Armenia      1        0      0          1           0

  X States Country     Confirmed Deaths Recovered
1 1 Others Afghanistan  5        0      0
2 2 Others Albania     10        0      0
3 3 Others Algeria     20        0      0
4 4 Others Andorra      1        0      0
5 5 Others Argentina   17        1      0
6 6 Others Armenia      1        0      0

  Country     Day Date       Confirmed Deaths Recovered Active.Cases
1 Afghanistan 1   21-01-2020 0         0      0         0
2 Afghanistan 2   22-01-2020 0         0      0         0
3 Afghanistan 3   23-01-2020 0         0      0         0
4 Afghanistan 4   24-01-2020 0         0      0         0
5 Afghanistan 5   25-01-2020 0         0      0         0
6 Afghanistan 6   26-01-2020 0         0      0         0
  Closed.Cases
1 0
2 0
3 0
4 0
5 0
6 0

  Country     Day Date       Confirmed Deaths Recovered Active.Cases
1 Afghanistan 1   21-01-2020 0         0      0         0
2 Albania     1   21-01-2020 0         0      0         0
3 Algeria     1   21-01-2020 0         0      0         0
4 Andorra     1   21-01-2020 0         0      0         0
5 Argentina   1   21-01-2020 0         0      0         0
6 Armenia     1   21-01-2020 0         0      0         0
  Closed.Cases
1 0
2 0
3 0
4 0
5 0
6 0

##    World (except China)

In [13]:
## Loading
World.Countries.daily.Confirmed = read.csv("ready_to_use/COVID-19/World/World_Countries_daily_Confirmed.csv")
World.Countries.daily.Deaths = read.csv("ready_to_use/COVID-19/World/World_Countries_daily_Deaths.csv")
World.Countries.daily.Recovered = read.csv("ready_to_use/COVID-19/World/World_Countries_daily_Recovered.csv")
World.Aggregate.daily.Confirmed = read.csv("ready_to_use/COVID-19/World/World_Aggregate_daily_Confirmed.csv")
World.Aggregate.daily.Deaths = read.csv("ready_to_use/COVID-19/World/World_Aggregate_daily_Deaths.csv")
World.Aggregate.daily.Recovered = read.csv("ready_to_use/COVID-19/World/World_Aggregate_daily_Recovered.csv")
World.Countries.summary = read.csv("ready_to_use/COVID-19/World/World_Countries_summary.csv")
World.Aggregate.summary = read.csv("ready_to_use/COVID-19/World/World_Aggregate_summary.csv")
World.dataset.dateWise = read.csv("ready_to_use/COVID-19/World/World_dataset_dateWise_summary.csv")

In [14]:
## Viewed
head(World.Countries.daily.Confirmed)
head(World.Countries.daily.Deaths)
head(World.Countries.daily.Recovered)
head(World.Aggregate.daily.Confirmed)
head(World.Aggregate.daily.Deaths)
head(World.Aggregate.daily.Recovered)
head(World.Countries.summary)
head(World.Aggregate.summary)
head(World.dataset.dateWise)

  Country     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan 0        0        0        0        0        0        0
2 Albania     0        0        0        0        0        0        0
3 Algeria     0        0        0        0        0        0        0
4 Andorra     0        0        0        0        0        0        0
5 Argentina   0        0        0        0        0        0        0
6 Armenia     0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 1       1       1        1       1       1       1
2 0        0        ... 0       0       0        0       0       0       0
3 0        0        ... 1       3       5       12      12      17      17
4 0        0        ... 0       1       1        1       1       1       1
5 0        0        ... 0       0       1        1       1       2       8
6 0        0        ... 1       1       1        1       1       1       1
  X3.8.20 X3.9.20 X3.10.20
1  4       4       5
2  0       2      10
3 19      20      20
4  1       1       1
5 12      12      17
6  1       1       1

  Country     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan 0        0        0        0        0        0        0
2 Albania     0        0        0        0        0        0        0
3 Algeria     0        0        0        0        0        0        0
4 Andorra     0        0        0        0        0        0        0
5 Argentina   0        0        0        0        0        0        0
6 Armenia     0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 0       0       0       0       0       0       0
2 0        0        ... 0       0       0       0       0       0       0
3 0        0        ... 0       0       0       0       0       0       0
4 0        0        ... 0       0       0       0       0       0       0
5 0        0        ... 0       0       0       0       0       0       0
6 0        0        ... 0       0       0       0       0       0       0
  X3.8.20 X3.9.20 X3.10.20
1 0       0       0
2 0       0       0
3 0       0       0
4 0       0       0
5 1       1       1
6 0       0       0

  Country     X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan 0        0        0        0        0        0        0
2 Albania     0        0        0        0        0        0        0
3 Algeria     0        0        0        0        0        0        0
4 Andorra     0        0        0        0        0        0        0
5 Argentina   0        0        0        0        0        0        0
6 Armenia     0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 0       0       0       0       0       0       0
2 0        0        ... 0       0       0       0       0       0       0
3 0        0        ... 0       0       0       0       0       0       0
4 0        0        ... 0       0       0       0       0       0       0
5 0        0        ... 0       0       0       0       0       0       0
6 0        0        ... 0       0       0       0       0       0       0
  X3.8.20 X3.9.20 X3.10.20
1 0       0       0
2 0       0       0
3 0       0       0
4 0       0       0
5 0       0       0
6 0       0       0

  Location X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 World    60       111      209      392      673      1060     1504
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 2024     2612     ... 20759   22501   24920   27085   29713   33511   37473
  X3.8.20 X3.9.20 X3.10.20
1 41411   45144   50259

  Location X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 World    0        0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 0        0        ... 120     167     209     267     329     412     482
  X3.8.20 X3.9.20 X3.10.20
1 700     870     1123

  Location X1.21.20 X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 World    0        0        0        0        0        3        3
  X1.28.20 X1.29.20 ... X3.1.20 X3.2.20 X3.3.20 X3.4.20 X3.5.20 X3.6.20 X3.7.20
1 6        6        ... 588     782     815     1206    1547    1938    2841
  X3.8.20 X3.9.20 X3.10.20
1 3335    3737    4326

  Country     Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Afghanistan  5        0      0          5           0
2 Albania     10        0      0         10           0
3 Algeria     20        0      0         20           0
4 Andorra      1        0      0          1           0
5 Argentina   17        1      0         16           1
6 Armenia      1        0      0          1           0

  Location Confirmed Deaths Recovered Active.Cases Closed.Cases
1 World    37262     1123   4326      31813        5449

  Location Day Date       Confirmed Deaths Recovered Active.Cases Closed.Cases
1 World    1   21-01-2020   60      0      0           60         0
2 World    2   22-01-2020  111      0      0          111         0
3 World    3   23-01-2020  209      0      0          209         0
4 World    4   24-01-2020  392      0      0          392         0
5 World    5   25-01-2020  673      0      0          673         0
6 World    6   26-01-2020 1060      0      3         1057         3

##    Others

In [15]:
## Code is yet to be written

In [16]:
## Viewed