<center> <h1><u>Datasets' Viewer</u></h1> </center>

<br />

In [1]:
# Setting the working directory
setwd("~/Documents/A-tracking-of-2019-nCoV/COVID-19/")

## China (except Hubei)

In [2]:
##    Loading
China.States.daily.Confirmed = read.csv("ready_to_use/COVID-19/China/China_States_daily_Confirmed.csv")
China.States.daily.Deaths = read.csv("ready_to_use/COVID-19/China/China_States_daily_Deaths.csv")
China.States.daily.Recovered = read.csv("ready_to_use/COVID-19/China/China_States_daily_Recovered.csv")

China.Aggregate.daily.Confirmed = read.csv("ready_to_use/COVID-19/China/China_Aggregate_daily_Confirmed.csv")
China.Aggregate.daily.Deaths = read.csv("ready_to_use/COVID-19/China/China_Aggregate_daily_Deaths.csv")
China.Aggregate.daily.Recovered = read.csv("ready_to_use/COVID-19/China/China_Aggregate_daily_Recovered.csv")

China.States.summary = read.csv("ready_to_use/COVID-19/China/China_States_summary.csv")
China.Aggregate.summary = read.csv("ready_to_use/COVID-19/China/China_Aggregate_summary.csv")
China.dataset.dateWise = read.csv("ready_to_use/COVID-19/China/China_dataset_dateWise_summary.csv")

In [3]:
# Viewed
head(China.States.daily.Confirmed)
head(China.States.daily.Deaths)
head(China.States.daily.Recovered)

head(China.Aggregate.daily.Confirmed)
head(China.Aggregate.daily.Deaths)
head(China.Aggregate.daily.Recovered)

head(China.States.summary)
head(China.Aggregate.summary)
head(China.dataset.dateWise)

  States    Country X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Guangdong China   26       32       53       78       111      151
2 Henan     China    5        5        9       32        83      128
3 Zhejiang  China   10       27       43       62       104      128
4 Hunan     China    4        9       24       43        69      100
5 Anhui     China    1        9       15       39        60       70
6 Jiangxi   China    2        7       18       18        36       72
  X1.28.20 X1.29.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 207      277      ... 1352    1352    1352    1352    1353     1356
2 168      206      ... 1272    1272    1272    1272    1272     1273
3 173      296      ... 1215    1215    1215    1215    1215     1215
4 143      221      ... 1018    1018    1018    1018    1018     1018
5 106      152      ...  990     990     990     990     990      990
6 109      109      ...  935     935     935     935     935      935
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 1356     1356     1356     1360
2 1273     1273     1273     1273
3 1215     1215     1227     1231
4 1018     1018     1018     1018
5  990      990      990      990
6  935      935      935      935

  States    Country X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Guangdong China   0        0        0        0        0        0
2 Henan     China   0        0        0        0        1        1
3 Zhejiang  China   0        0        0        0        0        0
4 Hunan     China   0        0        0        0        0        0
5 Anhui     China   0        0        0        0        0        0
6 Jiangxi   China   0        0        0        0        0        0
  X1.28.20 X1.29.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 0        0        ...  7       7       7       8       8        8
2 1        2        ... 22      22      22      22      22       22
3 0        0        ...  1       1       1       1       1        1
4 0        0        ...  4       4       4       4       4        4
5 0        0        ...  6       6       6       6       6        6
6 0        0        ...  1       1       1       1       1        1
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1  8        8        8        8
2 22       22       22       22
3  1        1        1        1
4  4        4        4        4
5  6        6        6        6
6  1        1        1        1

  States    Country X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Guangdong China   0        2        2        2        2        4
2 Henan     China   0        0        0        0        0        0
3 Zhejiang  China   0        0        1        1        1        1
4 Hunan     China   0        0        0        0        0        0
5 Anhui     China   0        0        0        0        0        0
6 Jiangxi   China   0        0        0        0        0        2
  X1.28.20 X1.29.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 4        5        ... 1216    1237    1256    1260    1274     1282
2 0        1        ... 1244    1244    1247    1247    1247     1249
3 3        3        ... 1147    1154    1161    1176    1191     1195
4 0        0        ...  955     960     968     979     990      995
5 0        2        ...  979     979     984     984     984      984
6 3        3        ...  909     916     919     923     927      932
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 1289     1296     1299     1304
2 1249     1249     1250     1250
3 1197     1197     1211     1211
4  999     1005     1014     1014
5  984      984      984      984
6  934      934      934      934

  Country X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20 X1.28.20
1 China   104      199      371      645      1017     1454     1955
  X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 2533     3238     ... 13098   13104   13116   13117   13127    13148
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 13151    13159    13187    13209

  Country X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20 X1.28.20
1 China   0        1        2        2        4        6        6
  X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 8        9        ... 113     113     114     115     115      115
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 116      118      118      118

  Country X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20 X1.28.20
1 China   0        2        5        7        7        13       21
  X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 32       45       ... 11911   12039   12153   12316   12438    12510
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 12583    12643    12700    12729

  States    Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Guangdong 1360       8     1304      48           1312
2 Henan     1273      22     1250       1           1272
3 Zhejiang  1231       1     1211      19           1212
4 Hunan     1018       4     1014       0           1018
5 Anhui      990       6      984       0            990
6 Jiangxi    935       1      934       0            935

  Country Confirmed Deaths Recovered Active.Cases Closed.Cases
1 China   13209     118    12729     362          12847

  Country Day Date       Confirmed Deaths Recovered Active.Cases Closed.Cases
1 China   1   22-01-2020  104      0       0         104          0
2 China   2   23-01-2020  199      1       2         196          3
3 China   3   24-01-2020  371      2       5         364          7
4 China   4   25-01-2020  645      2       7         636          9
5 China   5   26-01-2020 1017      4       7        1006         11
6 China   6   27-01-2020 1454      6      13        1435         19

##    Diamond Princess (only)

In [4]:
##    Loading
Diamond.Princess.daily.Confirmed = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_daily_Confirmed.csv")
Diamond.Princess.daily.Deaths = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_daily_Deaths.csv")
Diamond.Princess.daily.Recovered = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_daily_Recovered.csv")

Diamond.Princess.summary = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_summary.csv")
Diamond.Princess.dataset.dateWise = read.csv("ready_to_use/COVID-19/Cruise/Diamond_Princess_dataset_dateWise_summary.csv")

In [5]:
##    Viewed
head(Diamond.Princess.daily.Confirmed)
head(Diamond.Princess.daily.Deaths)
head(Diamond.Princess.daily.Recovered)

head(Diamond.Princess.summary)
head(Diamond.Princess.dataset.dateWise)

  Loaction         X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Diamond Princess 0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 696     696     696     696     696
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 696      696      696      696      696

  Loaction         X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Diamond Princess 0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 6       6       6       6       6
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 7        7        7        7        7

  Loaction         X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Diamond Princess 0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 40      40      40      40      40
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 325      325      325      325      325

  Location         Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Diamond Princess 706       7      325       374          332

  State            Day Date       Confirmed Deaths Recovered Active.Cases
1 Diamond Princess 1   22-01-2020 0         0      0         0
2 Diamond Princess 2   23-01-2020 0         0      0         0
3 Diamond Princess 3   24-01-2020 0         0      0         0
4 Diamond Princess 4   25-01-2020 0         0      0         0
5 Diamond Princess 5   26-01-2020 0         0      0         0
6 Diamond Princess 6   27-01-2020 0         0      0         0
  Closed.Cases
1 0
2 0
3 0
4 0
5 0
6 0

##    FOUR

In [6]:
## Loading
FOUR.daily.Confirmed = read.csv("ready_to_use/COVID-19/FOUR/Four_daily_Confirmed.csv")
FOUR.daily.Deaths = read.csv("ready_to_use/COVID-19/FOUR/Four_daily_Deaths.csv")
FOUR.daily.Recovered = read.csv("ready_to_use/COVID-19/FOUR/Four_daily_Recovered.csv")

FOUR.summary = read.csv("ready_to_use/COVID-19/FOUR/Four_Summary.csv")
FOUR.dataset.dateWise = read.csv("ready_to_use/COVID-19/FOUR/Four_dataset_dateWise.csv")
FOUR.dataset.locationWise = read.csv("ready_to_use/COVID-19/FOUR/Four_dataset_locationWise.csv")

In [7]:
## Viewed
head(FOUR.daily.Confirmed)
head(FOUR.daily.Deaths)
head(FOUR.daily.Recovered)

head(FOUR.summary)
head(FOUR.dataset.dateWise)
head(FOUR.dataset.locationWise)

  Location         X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Hubei            444      444      549      761      1058     1423
2 China            104      199      371      645      1017     1454
3 World            111      209      392      673      1060     1504
4 Diamond Princess   0        0        0        0         0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 3554     3554     4903     ... 67592   67666   67707   67743   67760
2 1955     2533     3238     ... 13098   13104   13116   13117   13127
3 2024     2612     3331     ... 33496   37459   41392   45122   50136
4    0        0        0     ...   696     696     696     696     696
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 67773    67781    67786    67790    67794
2 13148    13151    13159    13187    13209
3 57396    59866    76711    87611    98960
4   696      696      696      696      696

  Location         X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Hubei            17       17       24       40       52       76
2 China             0        1        2        2        4        6
3 World             0        0        0        0        0        0
4 Diamond Princess  0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 125      125      162      ... 2931    2959    2986    3008    3024
2   6        8        9      ...  113     113     114     115     115
3   0        0        0      ...  410     480     696     859    1117
4   0        0        0      ...    6       6       6       6       6
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 3046     3056     3062     3075     3085
2  115      116      118      118      118
3 1447     1541     2217     2619     3230
4    7        7        7        7        7

  Location         X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Hubei            28       28       31       32       42       45
2 China             0        2        5        7        7       13
3 World             0        0        0        0        3        3
4 Diamond Princess  0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 80       88       90       ... 42033   43500   45235   46488   47743
2 21       32       45       ... 11911   12039   12153   12316   12438
3  6        6        8       ...  1881    2779    3266    3650    4183
4  0        0        0       ...    40      40      40      40      40
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 49134    50318    51553    52960    54288
2 12510    12583    12643    12700    12729
3  5034     5098     5730     6639     8692
4   325      325      325      325      325

  Location         Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Hubei            67794     3085   54288     10421        57373
2 China            13209      118   12729       362        12847
3 World            86278     3252    8705     74321        11957
4 Diamond Princess   706        7     325       374          332

  Location         Day Date       Confirmed Deaths Recovered Active.Cases
1 Hubei            1   22-01-2020 444       17     28        399
2 China            1   22-01-2020 104        0      0        104
3 World            1   22-01-2020 111        0      0        111
4 Diamond Princess 1   22-01-2020   0        0      0          0
5 Hubei            2   23-01-2020 444       17     28        399
6 China            2   23-01-2020 199        1      2        196
  Closed.Cases
1 45
2  0
3  0
4  0
5 45
6  3

  Location Day Date       Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Hubei    1   22-01-2020  444      17     28         399          45
2 Hubei    2   23-01-2020  444      17     28         399          45
3 Hubei    3   24-01-2020  549      24     31         494          55
4 Hubei    4   25-01-2020  761      40     32         689          72
5 Hubei    5   26-01-2020 1058      52     42         964          94
6 Hubei    6   27-01-2020 1423      76     45        1302         121

##    Mixed

In [8]:
## Loading
All.Countries.daily.Confirmed = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_daily_Confirmed.csv")
All.Countries.daily.Deaths = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_daily_Deaths.csv")
All.Countries.daily.Recovered = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_daily_Recovered.csv")

All.Countries.summary = read.csv("ready_to_use/COVID-19/Mixed/All_Countries_summary.csv")
Mixed.summary = read.csv("ready_to_use/COVID-19/Mixed/bulk_summary.csv")
Mixed.countryWise.summary = read.csv("ready_to_use/COVID-19/Mixed/countryWise_bulk_summary.csv")
Mixed.dateWise.summary = read.csv("ready_to_use/COVID-19/Mixed/dateWise_bulk_summary.csv")

In [9]:
## Viewed
head(All.Countries.daily.Confirmed)
head(All.Countries.daily.Deaths)
head(All.Countries.daily.Recovered)
head(All.Countries.summary)
head(Mixed.summary)
head(Mixed.countryWise.summary)
head(Mixed.dateWise.summary)

  Country             X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Antigua and Barbuda 0        0        0        0        0        0
6 Argentina           0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ...  1       1       4       4       5
2 0        0        0        ...  0       0       0       2      10
3 0        0        0        ... 17      17      19      20      20
4 0        0        0        ...  1       1       1       1       1
5 0        0        0        ...  0       0       0       0       0
6 0        0        0        ...  2       8      12      12      17
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1  7        7        7       11       16
2 12       23       33       38       42
3 20       24       26       37       48
4  1        1        1        1        1
5  0        0        1        1        1
6 19       19       31       34       45

  Country             X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Antigua and Barbuda 0        0        0        0        0        0
6 Argentina           0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 0       0       0       0       0
2 0        0        0        ... 0       0       0       0       0
3 0        0        0        ... 0       0       0       0       0
4 0        0        0        ... 0       0       0       0       0
5 0        0        0        ... 0       0       0       0       0
6 0        0        0        ... 0       0       1       1       1
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 0        0        0        0        0
2 1        1        1        1        1
3 0        1        2        3        4
4 0        0        0        0        0
5 0        0        0        0        0
6 1        1        2        2        2

  Country             X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Antigua and Barbuda 0        0        0        0        0        0
6 Argentina           0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 0       0       0       0       0
2 0        0        0        ... 0       0       0       0       0
3 0        0        0        ... 0       0       0       0       0
4 0        0        0        ... 0       0       0       0       0
5 0        0        0        ... 0       0       0       0       0
6 0        0        0        ... 0       0       0       0       0
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 0        0        0         0        0
2 0        0        0         0        0
3 0        8        8        12       12
4 0        1        0         1        1
5 0        0        0         0        0
6 0        0        0         1        1

  Country             Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Afghanistan         16        0       0        16            0
2 Albania             42        1       0        41            1
3 Algeria             48        4      12        32           16
4 Andorra              1        0       1         0            1
5 Antigua and Barbuda  1        0       0         1            0
6 Argentina           45        2       1        42            3

  X States Country             Confirmed Deaths Recovered Active.Cases
1 1 Others Afghanistan         16        0       0        16
2 2 Others Albania             42        1       0        41
3 3 Others Algeria             48        4      12        32
4 4 Others Andorra              1        0       1         0
5 5 Others Antigua and Barbuda  1        0       0         1
6 6 Others Argentina           45        2       1        42
  Closed.Cases
1  0
2  1
3 16
4  1
5  0
6  3

  Country     Day Date       Confirmed Deaths Recovered Active.Cases
1 Afghanistan 1   22-01-2020 0         0      0         0
2 Afghanistan 2   23-01-2020 0         0      0         0
3 Afghanistan 3   24-01-2020 0         0      0         0
4 Afghanistan 4   25-01-2020 0         0      0         0
5 Afghanistan 5   26-01-2020 0         0      0         0
6 Afghanistan 6   27-01-2020 0         0      0         0
  Closed.Cases
1 0
2 0
3 0
4 0
5 0
6 0

  Country             Day Date       Confirmed Deaths Recovered Active.Cases
1 Afghanistan         1   22-01-2020 0         0      0         0
2 Albania             1   22-01-2020 0         0      0         0
3 Algeria             1   22-01-2020 0         0      0         0
4 Andorra             1   22-01-2020 0         0      0         0
5 Antigua and Barbuda 1   22-01-2020 0         0      0         0
6 Argentina           1   22-01-2020 0         0      0         0
  Closed.Cases
1 0
2 0
3 0
4 0
5 0
6 0

##    World (except China)

In [10]:
## Loading
World.Countries.daily.Confirmed = read.csv("ready_to_use/COVID-19/World/World_Countries_daily_Confirmed.csv")
World.Countries.daily.Deaths = read.csv("ready_to_use/COVID-19/World/World_Countries_daily_Deaths.csv")
World.Countries.daily.Recovered = read.csv("ready_to_use/COVID-19/World/World_Countries_daily_Recovered.csv")

World.Aggregate.daily.Confirmed = read.csv("ready_to_use/COVID-19/World/World_Aggregate_daily_Confirmed.csv")
World.Aggregate.daily.Deaths = read.csv("ready_to_use/COVID-19/World/World_Aggregate_daily_Deaths.csv")
World.Aggregate.daily.Recovered = read.csv("ready_to_use/COVID-19/World/World_Aggregate_daily_Recovered.csv")

World.Countries.summary = read.csv("ready_to_use/COVID-19/World/World_Countries_summary.csv")
World.Aggregate.summary = read.csv("ready_to_use/COVID-19/World/World_Aggregate_summary.csv")
World.dataset.dateWise = read.csv("ready_to_use/COVID-19/World/World_dataset_dateWise_summary.csv")

In [11]:
## Viewed
head(World.Countries.daily.Confirmed)
head(World.Countries.daily.Deaths)
head(World.Countries.daily.Recovered)
head(World.Aggregate.daily.Confirmed)
head(World.Aggregate.daily.Deaths)
head(World.Aggregate.daily.Recovered)
head(World.Countries.summary)
head(World.Aggregate.summary)
head(World.dataset.dateWise)

  Country             X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Antigua and Barbuda 0        0        0        0        0        0
6 Argentina           0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ...  1       1       4       4       5
2 0        0        0        ...  0       0       0       2      10
3 0        0        0        ... 17      17      19      20      20
4 0        0        0        ...  1       1       1       1       1
5 0        0        0        ...  0       0       0       0       0
6 0        0        0        ...  2       8      12      12      17
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1  7        7        7       11       16
2 12       23       33       38       42
3 20       24       26       37       48
4  1        1        1        1        1
5  0        0        1        1        1
6 19       19       31       34       45

  Country             X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Antigua and Barbuda 0        0        0        0        0        0
6 Argentina           0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 0       0       0       0       0
2 0        0        0        ... 0       0       0       0       0
3 0        0        0        ... 0       0       0       0       0
4 0        0        0        ... 0       0       0       0       0
5 0        0        0        ... 0       0       0       0       0
6 0        0        0        ... 0       0       1       1       1
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 0        0        0        0        0
2 1        1        1        1        1
3 0        1        2        3        4
4 0        0        0        0        0
5 0        0        0        0        0
6 1        1        2        2        2

  Country             X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Antigua and Barbuda 0        0        0        0        0        0
6 Argentina           0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20
1 0        0        0        ... 0       0       0       0       0
2 0        0        0        ... 0       0       0       0       0
3 0        0        0        ... 0       0       0       0       0
4 0        0        0        ... 0       0       0       0       0
5 0        0        0        ... 0       0       0       0       0
6 0        0        0        ... 0       0       0       0       0
  X3.11.20 X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 0        0        0         0        0
2 0        0        0         0        0
3 0        8        8        12       12
4 0        1        0         1        1
5 0        0        0         0        0
6 0        0        0         1        1

  Location X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20 X1.28.20
1 World    111      209      392      673      1060     1504     2024
  X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 2612     3331     ... 33496   37459   41392   45122   50136    57396
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 59866    76711    87611    98960

  Location X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20 X1.28.20
1 World    0        0        0        0        0        0        0
  X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 0        0        ... 410     480     696     859     1117     1447
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 1541     2217     2619     3230

  Location X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20 X1.28.20
1 World    0        0        0        0        3        3        6
  X1.29.20 X1.30.20 ... X3.6.20 X3.7.20 X3.8.20 X3.9.20 X3.10.20 X3.11.20
1 6        8        ... 1881    2779    3266    3650    4183     5034
  X3.12.20 X3.13.20 X3.14.20 X3.15.20
1 5098     5730     6639     8692

  Country             Confirmed Deaths Recovered Active.Cases Closed.Cases
1 Afghanistan         16        0       0        16            0
2 Albania             42        1       0        41            1
3 Algeria             48        4      12        32           16
4 Andorra              1        0       1         0            1
5 Antigua and Barbuda  1        0       0         1            0
6 Argentina           45        2       1        42            3

  Location Confirmed Deaths Recovered Active.Cases Closed.Cases
1 World    86278     3252   8705      74321        11957

  Location Day Date       Confirmed Deaths Recovered Active.Cases Closed.Cases
1 World    1   22-01-2020  111      0      0          111         0
2 World    2   23-01-2020  209      0      0          209         0
3 World    3   24-01-2020  392      0      0          392         0
4 World    4   25-01-2020  673      0      0          673         0
5 World    5   26-01-2020 1060      0      3         1057         3
6 World    6   27-01-2020 1504      0      3         1501         3

##    Others

In [12]:
## Code is yet to be written

In [13]:
## Viewed