## <u>Data Understanding:</u>

> * <a href="#*-Data-&-Problem-Statement">DATA &AMP; PROBLEM STATEMENT</a>
> * <a href="#Beginning-with-the-coading-section:">BEGINNING WITH THE CODING SECTION</a>
> * <a href="#*-Data-Collection">DATA COLLECTION</a>

### * Data & Problem Statement

Our is aim to analyze that what would be the status of the epidemic will change, within a week and hence, how log it might take to China to have its control over this infection<br />
Further, we'd aim to generalize it for any of the country, so that we could find the status of the same, whenever required. Obviously, we'd have to change few parameters, tho' we won't have to waste our time again and again in data preparation for a particular country.<br /><br />

<b>Hence we need the data about:</b>
> 1. <u>Confirmed</u> cases of COVID-19, throughout the world
> 2. <u>Death</u> cases due to COVID-19, throughout the world
> 3. Total <u>Recovery</u> from COVID-19, throughout the world

We've collected this data from various sources including <a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank">CSSE @Johns Hopkins University</a>, <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">WHO</a> & <a href="https://www.mohfw.gov.in/" target="_blank">MoHFW - India</a>.<br />
<br />

#### Beginning with the coding section:

> Let's start with setting-up our working directory and load all the required packages, that we would be required:

### Initial Project Setup

In [2]:
# Setting the working directory
options(warn=-1)
setwd("~/Documents/A-tracking-of-2019-nCoV/COVID-19/")

#####  Loading LIBRARIES  #####
library(stringr)

library(AUCRF)
library(randomForest)
library(RFmarkerDetector)

library(caret)
library(mlbench)
library(kernlab)

Loading required package: randomForest

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

AUCRF 1.1


Attaching package: ‘RFmarkerDetector’


The following object is masked from ‘package:stats’:

    screeplot


Loading required package: lattice

Loading required package: ggplot2


Attaching package: ‘ggplot2’


The following object is masked from ‘package:randomForest’:

    margin



Attaching package: ‘kernlab’


The following object is masked from ‘package:ggplot2’:

    alpha

<br />

### * Data Collection

Basically, we have collected the <b>raw data</b> from websites and GitHub repository.

In [4]:
# loading raw data
check.Confirmed = read.csv("Notebooks/syllabus/static/raw/time_series_19-covid-Confirmed.csv")
check.Deaths = read.csv("Notebooks/syllabus/static/raw/time_series_19-covid-Deaths.csv")
check.Recovered = read.csv("Notebooks/syllabus/static/raw/time_series_19-covid-Recovered.csv")

The data, that we have collected is in the <b>CSV</b> (i.e. "<u><i>comma-separated values</i></u>") format.<br />
A CSV file is used to store the <i>structured data</i> row-wise, where the data elements in each rows are separated by a comma (,).

It's pretty similar to the following:
```
Belinda Jameson,2017,Cushing House,148,3.52
Jeff Smith,2018,Prescott House,17-D,3.20
```
<br />
Let's view the head portion of our raw data:

In [5]:
# view sample
head(check.Confirmed)
head(check.Deaths)
head(check.Recovered)

  Province.State   Country.Region Lat     Long      X1.22.20 X1.23.20 X1.24.20
1                  Thailand       15.0000  101.0000 2        3        5
2                  Japan          36.0000  138.0000 2        1        2
3                  Singapore       1.2833  103.8333 0        1        3
4                  Nepal          28.1667   84.2500 0        0        0
5                  Malaysia        2.5000  112.5000 0        0        0
6 British Columbia Canada         49.2827 -123.1207 0        0        0
  X1.25.20 X1.26.20 X1.27.20 ... X3.10.20 X3.11.20 X3.12.20 X3.13.20 X3.14.20
1 7        8        8        ...  53       59       70       75       82
2 2        4        4        ... 581      639      639      701      773
3 3        4        5        ... 160      178      178      200      212
4 1        1        1        ...   1        1        1        1        1
5 3        4        4        ... 129      149      149      197      238
6 0        0        0        ...  32       39       46       64       64
  X3.15.20 X3.16.20 X3.17.20 X3.18.20 X3.19.20
1 114      147      177      212      272
2 839      825      878      889      924
3 226      243      266      313      345
4   1        1        1        1        1
5 428      566      673      790      900
6  73      103      103      186      231

  Province.State   Country.Region Lat     Long      X1.22.20 X1.23.20 X1.24.20
1                  Thailand       15.0000  101.0000 0        0        0
2                  Japan          36.0000  138.0000 0        0        0
3                  Singapore       1.2833  103.8333 0        0        0
4                  Nepal          28.1667   84.2500 0        0        0
5                  Malaysia        2.5000  112.5000 0        0        0
6 British Columbia Canada         49.2827 -123.1207 0        0        0
  X1.25.20 X1.26.20 X1.27.20 ... X3.10.20 X3.11.20 X3.12.20 X3.13.20 X3.14.20
1 0        0        0        ...  1        1        1        1        1
2 0        0        0        ... 10       15       16       19       22
3 0        0        0        ...  0        0        0        0        0
4 0        0        0        ...  0        0        0        0        0
5 0        0        0        ...  0        0        0        0        0
6 0        0        0        ...  1        1        1        1        1
  X3.15.20 X3.16.20 X3.17.20 X3.18.20 X3.19.20
1  1        1        1        1        1
2 22       27       29       29       29
3  0        0        0        0        0
4  0        0        0        0        0
5  0        0        2        2        2
6  1        4        4        7        7

  Province.State   Country.Region Lat     Long      X1.22.20 X1.23.20 X1.24.20
1                  Thailand       15.0000  101.0000 0        0        0
2                  Japan          36.0000  138.0000 0        0        0
3                  Singapore       1.2833  103.8333 0        0        0
4                  Nepal          28.1667   84.2500 0        0        0
5                  Malaysia        2.5000  112.5000 0        0        0
6 British Columbia Canada         49.2827 -123.1207 0        0        0
  X1.25.20 X1.26.20 X1.27.20 ... X3.10.20 X3.11.20 X3.12.20 X3.13.20 X3.14.20
1 0        2        2        ...  33       34       34       35       35
2 0        1        1        ... 101      118      118      118      118
3 0        0        0        ...  78       96       96       97      105
4 0        0        0        ...   1        1        1        1        1
5 0        0        0        ...  24       26       26       26       35
6 0        0        0        ...   4        4        4        4        4
  X3.15.20 X3.16.20 X3.17.20 X3.18.20 X3.19.20
1  35       35       41       42       42
2 118      144      144      144      150
3 105      109      114      114      114
4   1        1        1        1        1
5  42       42       49       60       75
6   4        4        4        4        4

#### We can see that type of collected data is: <u>time-series</u>
> A <b>Time series data</b> of a variable have a set of observations on values at different points of time. They are usually collected at fixed intervals, such as daily, weekly, monthly, annually, quarterly, etc.

<br />
We observe that all the three datasets have same columns as well as the same type of data.

In [6]:
# columns
cat("Number of columns in all 3 datasets:-\n\n")

matrix(
    c("Confirmed", "Deaths", "Recovered", ncol(check.Confirmed), ncol(check.Deaths), ncol(check.Recovered)),
    nrow = 2, ncol = 3, byrow = T
)

# Dimention
cat("Dimentions of datasets:-\n")   # same for all 3
dim(check.Confirmed)


######################
# columns' name
#cat("Name of columns in all 3 datasets:-\n")

#colnames(check.Confirmed)
#colnames(check.Deaths)
#colnames(check.Recovered)

Number of columns in all 3 datasets:-

     [,1]      [,2]   [,3]
[1,] Confirmed Deaths Recovered
[2,] 62        62     62

Dimentions of datasets:-

[1] 468  62

<br />
Let's see the structure of these datasets:

In [7]:
str(check.Confirmed)
#str(check.Deaths)
#str(check.Recovered)

'data.frame':	468 obs. of  62 variables:
 $ Province.State: Factor w/ 321 levels "","Adams, IN",..: 1 1 1 1 1 25 196 298 237 1 ...
 $ Country.Region: Factor w/ 155 levels "Afghanistan",..: 142 76 129 103 90 27 8 8 8 25 ...
 $ Lat           : num  15 36 1.28 28.17 2.5 ...
 $ Long          : num  101 138 103.8 84.2 112.5 ...
 $ X1.22.20      : int  2 2 0 0 0 0 0 0 0 0 ...
 $ X1.23.20      : int  3 1 1 0 0 0 0 0 0 0 ...
 $ X1.24.20      : int  5 2 3 0 0 0 0 0 0 0 ...
 $ X1.25.20      : int  7 2 3 1 3 0 0 0 0 0 ...
 $ X1.26.20      : int  8 4 4 1 4 0 3 1 0 0 ...
 $ X1.27.20      : int  8 4 5 1 4 0 4 1 0 1 ...
 $ X1.28.20      : int  14 7 7 1 4 1 4 1 0 1 ...
 $ X1.29.20      : int  14 7 7 1 7 1 4 1 1 1 ...
 $ X1.30.20      : int  14 11 10 1 8 1 4 2 3 1 ...
 $ X1.31.20      : int  19 15 13 1 8 1 4 3 2 1 ...
 $ X2.1.20       : int  19 20 16 1 8 1 4 4 3 1 ...
 $ X2.2.20       : int  19 20 18 1 8 1 4 4 2 1 ...
 $ X2.3.20       : int  19 20 18 1 8 1 4 4 2 1 ...
 $ X2.4.20       : int  25 22 24 1 10 1 4 4 3 1 ...
 $ X2.5.20       : int  25 22 28 1 12 2 4 4 3 1 ...
 $ X2.6.20       : int  25 45 28 1 12 2 4 4 4 1 ...
 $ X2.7.20       : int  25 25 30 1 12 4 4 4 5 1 ...
 $ X2.8.20       : int  32 25 33 1 16 4 4 4 5 1 ...
 $ X2.9.20       : int  32 26 40 1 16 4 4 4 5 1 ...
 $ X2.10.20      : int  32 26 45 1 18 4 4 4 5 1 ...
 $ X2.11.20      : int  33 26 47 1 18 4 4 4 5 1 ...
 $ X2.12.20      : int  33 28 50 1 18 4 4 4 5 1 ...
 $ X2.13.20      : int  33 28 58 1 19 4 4 4 5 1 ...
 $ X2.14.20      : int  33 29 67 1 19 4 4 4 5 1 ...
 $ X2.15.20      : int  33 43 72 1 22 4 4 4 5 1 ...
 $ X2.16.20      : int  34 59 75 1 22 4 4 4 5 1 ...
 $ X2.17.20      : int  35 66 77 1 22 5 4 4 5 1 ...
 $ X2.18.20      : int  35 74 81 1 22 5 4 4 5 1 ...
 $ X2.19.20      : int  35 84 84 1 22 5 4 4 5 1 ...
 $ X2.20.20      : int  35 94 84 1 22 5 4 4 5 1 ...
 $ X2.21.20      : int  35 105 85 1 22 6 4 4 5 1 ...
 $ X2.22.20      : int  35 122 85 1 22 6 4 4 5 1 ...
 $ X2.23.20      : int  35 147 89 1 22 6 4 4 5 1 ...
 $ X2.24.20      : int  35 159 89 1 22 6 4 4 5 1 ...
 $ X2.25.20      : int  37 170 91 1 22 7 4 4 5 1 ...
 $ X2.26.20      : int  40 189 93 1 22 7 4 4 5 1 ...
 $ X2.27.20      : int  40 214 93 1 23 7 4 4 5 1 ...
 $ X2.28.20      : int  41 228 93 1 23 7 4 4 5 1 ...
 $ X2.29.20      : int  42 241 102 1 25 8 4 7 9 1 ...
 $ X3.1.20       : int  42 256 106 1 29 8 6 7 9 1 ...
 $ X3.2.20       : int  43 274 108 1 29 8 6 9 9 1 ...
 $ X3.3.20       : int  43 293 110 1 36 9 13 9 11 1 ...
 $ X3.4.20       : int  43 331 110 1 50 12 22 10 11 1 ...
 $ X3.5.20       : int  47 360 117 1 50 13 22 10 13 1 ...
 $ X3.6.20       : int  48 420 130 1 83 21 26 10 13 1 ...
 $ X3.7.20       : int  50 461 138 1 93 21 28 11 13 1 ...
 $ X3.8.20       : int  50 502 150 1 99 27 38 11 15 2 ...
 $ X3.9.20       : int  50 511 150 1 117 32 48 15 15 2 ...
 $ X3.10.20      : int  53 581 160 1 129 32 55 18 18 2 ...
 $ X3.11.20      : int  59 639 178 1 149 39 65 21 20 3 ...
 $ X3.12.20      : int  70 639 178 1 149 46 65 21 20 3 ...
 $ X3.13.20      : int  75 701 200 1 197 64 92 36 35 5 ...
 $ X3.14.20      : int  82 773 212 1 238 64 112 49 46 7 ...
 $ X3.15.20      : int  114 839 226 1 428 73 134 57 61 7 ...
 $ X3.16.20      : int  147 825 243 1 566 103 171 71 68 7 ...
 $ X3.17.20      : int  177 878 266 1 673 103 210 94 78 33 ...
 $ X3.18.20      : int  212 889 313 1 790 186 267 121 94 35 ...
 $ X3.19.20      : int  272 924 345 1 900 231 307 121 144 37 ...

<br />

### Explanation of each columns in fetched data:-
* There are 3 dedicated databases for data about Confirmed/Death/Recovery cases, all around the world

> #### Province.State:
   > * Data-type: **factor** they can be specific, unique and valid names
   > * Holds name of City/Province/State, where the data is coming from
   > * Eg.: _Hubei_
>
> #### Country.Region:
   > * Data-type: **factor** they can be specific, unique and valid names
   > * Holds name of the country, in which the reported area comes
   > * Eg.: _China_ (Hubei is a Province of China)
>
> #### Lat:
   > * Data-type: **numeric** (i.e. can have values in decimals, too)
   > * Holds the Latitude position of the given place(as in col1)
   > * Eg.: _Latitude_ position of Hubei = 30.9756
>
> #### Long:
   > * Data-type: **numeric** (i.e. can have values in decimals, too)
   > * Holds the longitude position of the given place(as in col1)
   > * Eg.: _Longitude_ position of Hubei = 112.2707
>
> #### Col. 5 to 62:
   > * Data-type: **integer** (i.e. discrete) and remains _always positive_ as it determines  the _no, of individuals_
   > * It's a time series data where the data is collected at various interval of time
   > * Each datum value is represented, based on the different days in series (from 22/01/2020)
   > * The constant entity is the location, whose data is represented in every row

In [13]:
# showing data of Hubei
cat("\nA sample data of a location from \"Confirmed Cases\'\" dataset:\n")
check.Confirmed[which(str_detect(check.Confirmed$Province.State, "Hubei")),]

A sample data of a location from "Confirmed Cases'" dataset:

    Province.State Country.Region Lat     Long     X1.22.20 X1.23.20 X1.24.20
155 Hubei          China          30.9756 112.2707 444      444      549
    X1.25.20 X1.26.20 X1.27.20 ... X3.10.20 X3.11.20 X3.12.20 X3.13.20 X3.14.20
155 761      1058     1423     ... 67760    67773    67781    67786    67790
    X3.15.20 X3.16.20 X3.17.20 X3.18.20 X3.19.20
155 67794    67798    67799    67800    67800

<br />